<div class="container-fluid bg-light">
  <div class="container bg-light">
    <div class="row mt-4" style="height: 500px">
      <div class="col"></div>
      <div class="col-md-6 bg-white shadow">
        <div class="card bg-primary mt-4">
          <h4 class="text-white ps-3 pt-2 pb-2">TO DO LIST APP</h4>
        </div>

        <app-task-form></app-task-form>
        <app-tasks-list></app-tasks-list>
        <app-task-modal-edit></app-task-modal-edit>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>
