<div class="shadow">
  <p class="input-group pt-4 ps-4"><b>Enter task name :</b></p>
  <div class="input-group ps-4 pe-4">
    <input
      type="text"
      class="form-control"
      placeholder="Cook for Mum <3"
      name="task"
      [(ngModel)]="addTaskValue"
    />
  </div>

  <div class="input-group p-4">
    <form class="row row-cols-sm-auto">
      <label for="dp" class="input-group ps-3 pb-3"
        ><b>Select the deadline : </b></label
      >
      <div class="col-12">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="datePicker"
            [(ngModel)]="addDatePickerValue"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-12 text-center">
    <button
      class="btn btn-outline-success w-75 mb-3"
      type="button"
      (click)="addTask()"
    >
      Add
    </button>
  </div>
</div>
