<h4 class="text-primary mt-4">Tasks :</h4>
<div style="overflow-y: auto; height: 350px">
  <div class="m-3" *ngFor="let task of taskArr">
    <div class="p-2 shadow border">
      <div class="input-group row ps-3">
        <div class="card col-md-5 border-0">{{ task.task_name }}</div>
        <div class="card col-md-5 border-0">{{ task.task_dead_line }}</div>
        <button
          type="button"
          class="btn btn-outline-primary col me-2"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="call(task)"
        >
          E
        </button>
        <div class="btn btn-outline-danger col" (click)="deleteTask(task)">
          X
        </div>
      </div>
    </div>
  </div>
</div>
